<section id="federal-production" is="year-switcher-section" class="federal production">
  <div class="chart-list">
    <section id="national-federal-production-oil-bbl" class="product chart-item">
      <h3 class="chart-title">
        <button is="aria-toggle" aria-expanded="false" aria-controls="expandable-content" class="chart-title-button" type="button">
          <span class="hide-expanded chart-title-small">
            <span>
              {{ label }}
            </span>
            <eiti-bar-chart data="{{jsonify data}}" x-range="{{jsonify x-range}}" x-value="{{ x-value }}" data-units="{{ data-units }}" is-icon="true" class="bar-chart-icon"></eiti-bar-chart>
          </span>
          <span class="show-expanded chart-title-small">
            <span>
              {{ label }}
            </span>
            <img class="chart-title-icon" alt="icon with a minus sign" src="{{ path '/img/icons/icon-circled-minus.svg' }}">
          </span>
        </button>
        <span class="chart-title-large">{{ label }}</span>
      </h3>
      <figure class="chart" id="expandable-content" aria-hidden="true">
        <eiti-bar-chart aria-controls="expandable-content" data="{{jsonify data}}" x-range="{{jsonify x-range}}" x-value="{{ x-value }}" data-units="{{ data-units }}"></eiti-bar-chart>
        <figcaption id="national-federal-production-figures-oil-bbl">
          <span class="caption-data" aria-hidden="false">
            <span class="eiti-bar-chart-y-value" data-format=","></span>
              <span class="term " data-term="barrel" title="Click to define" tabindex="0">{{ data-units }}<icon class="icon-book"></icon></span> of {{ label }} were
              produced on federal land in
              <span class="eiti-bar-chart-x-value"></span>.
          </span>
          <span class="caption-no-data" aria-hidden="true">
            There is no data about production of oil on federal land in
            <span class="eiti-bar-chart-x-value">2016</span>.
          </span>
          <span class="caption-withheld" aria-hidden="true">
            Data about oil production on federal land in
            <span class="eiti-bar-chart-x-value">2016</span>
            is withheld.
          </span>
        </figcaption>
      </figure>
    </section>
  </div>
</section>
