<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/components.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/styleguide.css' }}">
    <script src="{{ path '/js/main.min.js' }}"></script>
    <title>{{ _target.title }} | NRRD Design System</title>
</head>
<body>

<div class="pl-preview">
  {{#if _target.context.container }}
  <section class="container-padded{{#if _target.context.container.slab}} slab-{{_target.context.container.slab}}{{/if}}">
    <div class="container-page-wrapper">
      <div class="{{ _target.context.container.classes }}">
  {{/if}}

	{{{ yield }}}

  {{#if _target.context.container }}
      </div>
    </div>
  </section>
  {{/if}}
</div>
<script src="{{ path '/js/state-pages.min.js' }}"></script>
</body>
</html>
