<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/components.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/svg.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/styleguide.css' }}">
    <title>asdf</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
