<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/components.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/styleguide.css' }}">
    <script src="{{ path '/js/main.min.js' }}"></script>
    <title>{{ _target.title }} | NRRD Design System</title>
</head>
<body>

<div class="preview">
  {{{ yield }}}
</div>
<script src="{{ path '/js/state-pages.min.js' }}"></script>
</body>
</html>
