<!-- <div class="{{ className }}">{{ text }}</div> -->

<!-- Card -->
<section class="slab-beta-mid container-padded">
  <div class="container-page-wrapper">
    <div class="container-left-9">

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-ownership.svg'}}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-disbursements.svg' }}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-case-studies.svg '}}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-what-resources.svg' }}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-res-to-revenue.svg' }}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

      <article class="card">
        <a href="/#/" class="card-image_link"><img class="card-image" src="{{ path '/img/home-card-download.svg' }}" alt="Header image"></a>
        <div class="card-content">
          <p class="card-content-subhead">Site section name</p>
          <a href="/#/"><h3 class="card-title">Card title</h3></a>
          <p>Card content</p>
        </div>
      </article>

    </div>
  </div>
</section>
